/* 
. -> class
# -> ID 
*/

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .WIP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100dvh;
    gap: 15px;
}

#countdown {
    color: antiquewhite;
    font-size: 30px;
} */

.main {
    position: relative;
    background-color: black;
    background-image: url("images/maison.jpg");
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#darkFilter {
    position: absolute;
    background: black;
    opacity: 0.95;
    transition: opacity 4s ease;
    z-index: 2;
    inset: 0;
}

#candle {
    color: crimson;
    position: absolute;
    width: 100px;
    left: 30%;
    bottom: 15%;
    transform: translateX(-50%);
    z-index: 3;
}

#match {
    color: crimson;
    position: absolute;
    width: 80px;
    right: 10%;
    bottom: 25%;
    z-index: 4;
    cursor: grab;
    touch-action: none;
}

#match.dragging {
    cursor: grabbing;
}


#fairy {
    position: absolute;
    left: -15%;
    width: 220px;
    bottom: 12%;
    z-index: 5;
}

#fairy-textbox {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
    background: rgba(255, 245, 220, 0.9);
    border: 3px solid #5a3b25;
    border-radius: 18px;
    z-index: 4;
    cursor: pointer;
}

#fairy-text {
    position: relative;
    color: deeppink;
    z-index: 6;
    font-size: 18px;
    text-align: right;
    width: 75%;
    margin-left: auto;
}

#basket {
    position: absolute;
    width: 150px;
    left: 35%;
    bottom: 10%;
    z-index: 6;
}

#ivy {
    width: 90px;
    left: 55%;
    top: 9%;
    opacity: 0.6;
}


#mushroom {
    width: 50px;
    left: 26%;
    top: 49%;
    opacity: 0.7;
}

#hibiscus {
    width: 50px;
    left: 84%;
    top: 67%;
    opacity: 0.6;
}

#root {
    width: 40px;
    left: 88%;
    top: 58%;
    opacity: 0.6;
}

#moss {
    width: 70px;
    left: 15%;
    top: 68%;
    opacity: 0.5;
}

#cas {
    width: 230px;
    left: 49%;
    top: 48%;
    z-index: 40;
}

#poppy {
    width: 230px;
    left: -2%;
    top: 48%;
    z-index: 39;
}

.hidden {
    display: none;
    pointer-events: none;
}

.collect {
    position: absolute;
    width: 80px;
    z-index: 7;
    cursor: grab;
    touch-action: none;
}

.chars {
    position: absolute;
}

#fadeOverlay {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: opacity 2s ease;
}

#fadeOverlay.fade-out {
    opacity: 1;
}